.name_customer {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;

    .customAvatar {
        width: 50px;
        height: 50px;
        // border: 1px solid #A8A8A8;
        margin-right: 6px;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        p {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            color: #E31837;

        }

    }
}

.money {
    text-align: right;
}

.pagination {
    text-align: center;
    margin: 10px;
}

/* CSS cho trạng thái mobile */
@media only screen and (max-width: 430px) {
    .avatar {
        display: none;
    }
    .name_customer {
        .customAvatar {
            display: none;
        }
    }
}