.action {
    float: right;
    margin-bottom: 10px;
}

.filter {
    width: 100%;
}

.thumb {
    width: 80px;
    height: 80px;
    margin-right: 16px;
    border-radius: 10px;
}

.name_product {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: left;


}

.price {
    text-align: right;
}

.description {
    text-align: left;
}


.pagination {
    text-align: center;
    margin: 10px;

    li.ant-pagination-options {
        display: none;
    }
}

.action_colum {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

/* CSS cho trạng thái tablet */
@media only screen and (max-width: 768px) {
    .action_colum {
        display: inline-block;

        button:first-child {
            margin-bottom: 6px;
        }
    }
    .print {
        display: none;
    }
}

/* CSS cho trạng thái mobile */
@media only screen and (max-width: 430px) {
    .name_product {
        display: inline-block;
        text-align: center;

        .thumb {
            margin-right: 0;
        }
    }
}