.content {
    display: flex;
    column-gap: 50px;
    width: 100%;

    .box_left {
        width: 100%;
        text-align: center;

        .box_camera {
            position: relative;
            width: 200px;/* Đặt chiều rộng của khung camera */
            height: 0;
            padding-bottom: 200px; /* Tạo ra một hình vuông bằng cách đặt tỷ lệ padding-bottom là 100% */
            overflow: hidden;
            margin: 0 auto; /* Căn giữa khung camera */
            .scanner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }
    }

    .box_right {
        width: 50%;

    }
}

@media only screen and (max-width: 430px) {
    .content {
        display: block;

        .box_left {
            width: 100%;
        }

        .box_right {
            width: 100%;
        }
    }



}