.content {
    display: flex;
    column-gap: 50px;
    width: 100%;

    .box_left {
        width: 50%;
        text-align: center;
    }

    .box_right {
        width: 50%;
    }
}

@media only screen and (max-width: 430px) {
    .content {
        display: block;

        .box_left {
            width: 100%;
        }

        .box_right {
            width: 100%;
        }
    }



}