.name_supplier {
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;

    .customCoverImage {
        width: 100px;
        height: 60px;
        margin-right: 6px;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        p {
            margin: 0;
            font-size: 18px;
            font-weight: bold;
            color: #E31837;
        }

    }
}

.address {
    text-align: left;
}

.action_colum {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

/* CSS cho trạng thái tablet */
@media only screen and (max-width: 768px) {
    .action_colum {
        display: inline-block;

        button:first-child {
            margin-right: 6px;
        }
    }

    .name_supplier {
        display: inline-block;

        .customCoverImage {
            margin-right: 6px;
        }
    }
}

/* CSS cho trạng thái mobile */
@media only screen and (max-width: 430px) {
    .action_colum {
        display: flex;

        button:first-child {
            margin-bottom: 0 !important;
        }
    }

    .name_supplier {

        .customCoverImage {
            display: none;
        }
    }
}

/* CSS cho trạng thái mobile S*/
@media only screen and (max-width: 320px) {
    .action_colum {
        display: inline-block;

        button:first-child {
            margin-bottom: 6px !important;
        }
    }
}